html{
    font-family: sans-serif;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    
}


main {
    flex-direction: column;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
}

.Apresentacao h1 {
    color: white;
    background-color: #2F4F4F;
    border-radius: 4px;
}

hr {
    margin: 0;
    height: 5px;
    background-color: #9ACD32;
    border: none;
}   
.eaj-fachada {
    background-color: #f3f3f3;
    padding: 10px 20px;
    border: 1px solid #ccc;
    display: inline-block;
    text-align: center;
    width: 100%;
    max-width: 600px;
    margin: 20px auto;
}

.eaj-fachada img {
    width: 100%;
    height: auto;
}

.eaj-fachada figcaption {
    color: #555;


}

.historico h2 {
    margin-bottom: 1px;
}

.cursos h3 {
    margin-bottom: 1px;
}

p {
    margin: 1rem 1rem 1rem 0;
}

footer {
    width: 100%;
    display: flex;
    padding: 10px;
    background-color: #2F4F4F;
    justify-content: center;
}

address {
    color: white;
    line-height: 3px;
}

.UFRN {
    text-align: center;
    color: white;
    line-height: 3px;
}

.dev {
    justify-content: space-evenly;
    color: white;
    text-align: right;
}

